@model IEnumerable<DTO_Integrador.PartidoDTO>

<h1>Calendario de Partidos</h1>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.SeleccionLocal vs @item.SeleccionVisitante</h5>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        </div>
    }
</div>