@model DTO_Integrador.AdministradorDTO

<h1>Eliminar Administrador</h1>

<h3>¿Estás seguro de que deseas eliminar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nombre)</dd>

        <dt class="col-sm-2">Correo</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Correo)</dd>

        <dt class="col-sm-2">Rol</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.RolNombre)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>