@model IEnumerable<Modelos_Integrador.AccionAdministrativa>

@{
    ViewData["Title"] = "Acciones Administrativas";
}

<h1>Acciones Administrativas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>